.nav-container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 10px 25px;
  }

  nav {
    height: 65px;
    line-height: 65px;
  }
  
  .logo {
    margin: 0 0 0 35px;
  }
  
  .logo a img {
    vertical-align: middle;
    width: 20%;
    height: 20%;
  }

  .btnNav {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 0 10px;
    border: none;
    background-color: transparent;
  }
  